.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border: 1px solid rgb(235, 237, 240);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #fff;
}

.navbar-container img {
    width: 150px;
}

.navbar-container button {
    margin-left: 10px;
}

.search-input {
    width: 600px;
}